<div class="infogrid">
    <div class="infotext">
        <div class="textruta">
            <div class="information">
                <p class="rubrik">Grundskola</p>
                <p>2004 - 2014</p>
            </div>
            <div class="information">
                <p class="rubrik">Gymnasium</p>
                <p>2014 - 2018</p>
                <div>
                    <p class="gymnasieinfo"> - ABB Industrigymnasium (Teknik): 2014 - 22 Feb 2016</p>
                    <p class="gymnasieinfo"> - Carlforsska, Estetisk inriktning, Bild och Form: 7 Mars 2016 - 2018</p>
                </div>
            </div>
            <div class="information">
                <p class="rubrik">Yrkeshögskola</p>
                <p>2020 - nutid</p>
                <div>
                    <p class="gymnasieinfo"> - EC Utbildning, Västerås, Frontendutvecklare</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inforuta">
        <div class="imglogga">
            <img src="../../../assets/CV lina.png" alt="logga">
        </div>
        <div>
            <p>Personnummer: 1998-01-14</p>
            <br>
            <p>Mobil: 0735792467 <br> Mail: lina123.melkersson@gmail.com</p>
            <br>
            <p>Karlfeldstgatan 42B <br> 722 22 Västerås</p>
        </div>
    </div>
</div>