<div class="infogrid">
    <div class="infotext">
        <div class="textruta">
            <form (ngSubmit)="onSub()">
                <div class="mb-3">
                    <label for="name">Namn:</label>
                    <input type="text" id="name" class="form-control" [formControl]="name">
                </div>
                <div class="mb-3">
                    <label for="">Företag:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="">Mail:</label>
                    <input type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="">Ämne:</label>
                    <input type="text" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="">Meddelande:</label>
                    <input type="text" class="form-control" >
                </div>
                <button class="btn" style="background: #ffff;">Skicka</button>
            </form>
            <p>
                <!-- Value: {{ name.value }} -->
            </p>
        </div>
    </div>
    <div class="inforuta">
        <div class="imglogga">
            <img src="../../../assets/CV lina.png" alt="logga">
        </div>
        <div>
            <p>Personnummer: 1998-01-14</p>
            <br>
            <p>Mobil: 0735792467 <br> Mail: lina123.melkersson@gmail.com</p>
            <br>
            <p>Karlfeldstgatan 42B <br> 722 22 Västerås</p>
        </div>
    </div>
</div>