<div class="infogrid">
    <div class="infotext">
        <div class="textruta">
            <h5>Vem är jag?</h5>
            <p>Jag är en positiv och glad tjej som har en kreativ syn på problemlösning. Jag tycker om utmaningar och att arbeta mot tydliga mål. </p>
            <p>Jag tycker att arbetsplatsen ska ha en positiv och motiverande miljö där humor och hjälpsamhet tar stor plats. Jag vill alltid försöka tillföra ett extra leende i vardagen. Ömsesidig respekt är också något som är otroligt viktigt för mig, att både kunna ta ett nej eller konstruktiv kritik, men samtidigt kunna ge det i en mottaglig miljö.</p>
            <p>Design och användarvänlighet tycker jag ska gå hand i hand. Något som är abstrakt och svår att använda skapar frustration hos nästan alla målgrupper. Att skapa en användarvänligt produkt eller sida med en härlig och inbjudande design är viktigt för mig.</p>
            <p>Något jag tycker är viktigt är att erbjuda kompetens och proffesionellt bemötande i arbetsmiljön men samtidigt klicka med kollegorna i fikarummet där man kan vara m er personlig.</p>
        </div>
    </div>
    <div class="inforuta">
        <div class="imglogga">
            <img src="../../../assets/CV lina.png" alt="logga">
        </div>
        <div>
            <p>Personnummer: 1998-01-14</p>
            <br>
            <p>Mobil: 0735792467 <br> Mail: lina123.melkersson@gmail.com</p>
            <br>
            <p>Karlfeldstgatan 42B <br> 722 22 Västerås</p>
        </div>
    </div>
</div>