<div class="infogrid">
    <div class="infotext">
        <div class="textruta">
            <div class="information">
                <p class="rubrik">Livekarusellen (Studiefrämjandet, Västerås)</p>
                <p>2015 - 2018</p>
                <div>
                    <p class="gymnasieinfo"> - Turneledare, Scenansvarig, Artistansvarig, Ljud och Ljus, Jurry</p>
                </div>
            </div>
            <div class="information">
                <p class="rubrik">Cirkustränare, Roadie, Artist (Gycklargruppen TRiX)</p>
                <p>2015 - 2019</p>
                <div>
                    <p class="gymnasieinfo"> - Ungdomstränare med ansvar för terminsplanering/lektionsupplägg</p>
                    <p class="gymnasieinfo"> - Roadie med delat ansvar under turne</p>
                    <p class="gymnasieinfo"> - Artist med fokus på lärande för barn och ungdomar</p>
                </div>
            </div>
            <div class="information">
                <p class="rubrik">Chaufför (Postnord)</p>
                <p>2017 - 2018</p>
            </div>
            <div class="information">
                <p class="rubrik">Butiksanställd (Dollarstore)</p>
                <p>Sommaren 2018</p>
            </div>
            <div class="information">
                <p class="rubrik">Vikarie och resurs, funktionshinder (Norrtälje Kommun)</p>
                <p>Höst+vintern 2018</p>
            </div>
            <div class="information">
                <p class="rubrik">Kurir (DHL, via Palm och Partners)</p>
                <p>Vintern 2018 - Vår 2019</p>
            </div>
            <div class="information">
                <p class="rubrik">Butikschef (Videoheat AB)</p>
                <p>Juni - Dec 2019</p>
                <div>
                    <p class="gymnasieinfo"> - Fast anställning</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inforuta">
        <div class="imglogga">
            <img src="../../../assets/CV lina.png" alt="logga">
        </div>
        <div>
            <p>Personnummer: 1998-01-14</p>
            <br>
            <p>Mobil: 0735792467 <br> Mail: lina123.melkersson@gmail.com</p>
            <br>
            <p>Karlfeldstgatan 42B <br> 722 22 Västerås</p>
        </div>
    </div>
</div>